.card {
  display: flex;
  margin: 16px 0;
}

.thumbnail {
  width: 142px;
  height: 142px;
  border-radius: 12px;
}

.card > div {
  padding-left: 12px;
  padding-top: 4px;
}

.card > div > div {
  cursor: pointer;
}

.dict {
  letter-spacing: 0.5em;
}