.root {
  padding: 0 32px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
}

.content, .action {
  display: flex;
  align-items: center;
}

.content {
  margin-left: 8px;
}

.progressBar {
  display: flex;
}

.linearBar {
  width: 400px;
  margin: 4px;
}

.thumbnail {
  width: 68px;
  height: 68px;
  border-radius: 12px;
  margin-right: 4px;
}
